<template>
  <div class="wrapper">

    <navbar></navbar>
    <sideNav></sideNav>

    <router-view></router-view>

  </div>
</template>

<script>
import navbar from './components/navigation/TheNavbar'
import sideNav from './components/navigation/TheSideNav'

export default {
    components:{
        navbar,
        sideNav
    }
}
</script>
<style>

</style>