<template>
    <div class="my-nav container-fluid px-0">
        <nav class="navbar">
            <img src="../../assets/img/brand.png" width="160px">
            <div class="mx-3">
                <a href="#">Logout</a>
            </div>
        </nav>
    </div>
</template>

