<template>
    <div class="sidenav">
        <ul>
            <li><router-link to="/dashboard"><i class="fas fa-chart-line"></i>   Dashboard</router-link></li>
            <li><router-link to="/patrons"><i class="fas fa-user-edit"></i>   Manage Patron</router-link></li>
            <li><router-link to="/books"><i class="fas fa-book"></i>   Manage Books</router-link></li>
            <li><router-link to="/settings"><i class="fas fa-cog"></i>   Settings</router-link></li>
        </ul>
    </div>
</template>

