/* wrapper */
.wrapper{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.wrapper .my-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
}

.wrapper .container-fluid .navbar{
    height: 80px;
    background: #282E41;
}

.wrapper .navbar a{
    color: rgb(204, 204, 204);
}

.wrapper .navbar a:hover{
    color: #fff;
    text-decoration: none;
}


/* the side nav section */
.wrapper .sidenav{
    position: fixed;
    top: 80px;
    background:  #282E41;
    width: 250px;
    height: 100%;
}

.wrapper .sidenav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper .sidenav ul li{
    padding: 20px;
    background: #424A56 ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
} 

.wrapper .sidenav ul li a{
    color: white;
    padding-left: 20px;
    font-size: 18px;
}

.wrapper .sidenav ul li i.fas{
    width: 20px;
}

.wrapper .sidenav ul li:hover{
    cursor: pointer;
    background: #797F87;
}

.wrapper .sidenav ul li a:hover{
    text-decoration: none;
}


/* the main content section */
.main-content{
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: 0;
    margin-right: 0;
    z-index: -1;
}

.main-content .container-fluid{
   color: black;
}

.main-content .card .table th{
    padding-bottom: 0;
}

.main-content .card .table .center{
    text-align: center;
}

.main-content .card .table .center button{
    padding: 0 2px;
}

.main-content .card .table .center .action-icons{
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
}

.main-content .card .table .center .action-icons:hover{
    fill: rgb(71, 97, 245);
}

.main-content button{
    background: none;
    border: none;
    outline: none;
}

.main-content input[type="text"]{
    background: #e1e1e1;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 300px;
    padding: 3px 15px;
    text-align: end;
}

.main-content button[data-target="#add-books-modal"]:hover,
.main-content button[data-target="#add-patron-modal"]:hover{
    font-size: 1.1em;
    font-weight: 500;
}

.modal .modal-dialog .modal-content .modal-body label{
    font-size: 18px;
}

.modal .modal-dialog .modal-content .modal-body input[type="text"], 
.modal .modal-dialog .modal-content .modal-body select {
    outline: none;
    border: none;
    background-color: #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
}

.modal .modal-dialog .modal-content .modal-body form label {
    font-size: 14px;
    font-weight: 400;
}