<template>
<div class="wrapper">

    <div class="main-content p-5">
        <b-container fluid>
            <div class="mt-2">
                <form class="form-inline justify-content-between py-1">
                    <button type="button" v-on:click="show_add_book_modal()" data-target="#add-books-modal"><i class="fas fa-plus-circle"></i> Add Books</button>
                    <input type="text" placeholder="Search">
                </form>
            </div>
                
            <div class="card table-responsive my-1">
                <h3 class="my-3 mx-2">Manage Books</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col" class="center">Available Copies</th>
                        <th scope="col" class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in books" :key="book.id">
                        <td class="align-middle">{{ book.name }}</td>
                        <td class="align-middle">{{ book.author }}</td>
                        <td class="align-middle">{{ findCategoryName(book.category_id) }}</td>
                        <td class="align-middle center">{{ book.copies }}</td>
                        <td class="align-middle center">
                            <div class="container-fluid m-0">
                                <div class="row p-0 d-flex justify-content-center">
                                    <div class="col-md-6 col-lg-2 p-0">
                                        <button>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="action-icons">
                                                <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" 
                                                d="M 9 4 C 7.3550302 4 6 5.3550302 6 7 L 6 25 C 6 26.64497 7.3550302 28 9 28 L 25 28 L 26 28 L 26 27 L 26 5 L 26 4 L 25 4 L 9 4 z M 9 6 L 24 6 L 24 22 L 9 22 
                                                C 8.6470169 22 8.3157581 22.073236 8 22.1875 L 8 7 C 8 6.4349698 8.4349698 6 9 6 z M 15 8 L 15 9 L 17 9 L 17 8 L 15 8 z M 15 10 L 15 11 L 17 11 L 17 10 L 15 10 z 
                                                M 15 12 L 15 16.5625 L 12.71875 14.28125 L 11.28125 15.71875 L 15.28125 19.71875 L 16 20.40625 L 16.71875 19.71875 L 20.71875 15.71875 L 19.28125 14.28125 L 17 16.5625 
                                                L 17 12 L 15 12 z M 9 24 L 24 24 L 24 26 L 9 26 C 8.4349698 26 8 25.56503 8 25 C 8 24.43497 8.4349698 24 9 24 z" 
                                                overflow="visible" font-family="Bitstream Vera Sans"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="col-md-6 col-lg-2 p-0">
                                        <button type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="action-icons">
                                                <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Sans" 
                                                d="M 9 4 C 7.3550302 4 6 5.3550302 6 7 L 6 25 C 6 26.64497 7.3550302 28 9 28 L 25 28 L 26 28 L 26 27 L 26 5 L 26 4 L 25 4 L 9 4 z M 9 6 L 24 6 L 24 22 L 9 22 
                                                C 8.6470169 22 8.3157581 22.073236 8 22.1875 L 8 7 C 8 6.4349698 8.4349698 6 9 6 z M 16 7.59375 L 15.28125 8.28125 L 11.28125 12.28125 L 12.71875 13.71875 
                                                L 15 11.4375 L 15 16 L 17 16 L 17 11.4375 L 19.28125 13.71875 L 20.71875 12.28125 L 16.71875 8.28125 L 16 7.59375 z M 15 17 L 15 18 L 17 18 L 17 17 L 15 17 z 
                                                M 15 19 L 15 20 L 17 20 L 17 19 L 15 19 z M 9 24 L 24 24 L 24 26 L 9 26 C 8.4349698 26 8 25.56503 8 25 C 8 24.43497 8.4349698 24 9 24 z" 
                                                overflow="visible" font-family="Sans"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="col-md-6 col-lg-2 p-0">
                                        <button v-on:click="show_edit_book_modal(book)">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="action-icons">
                                                <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;
                                                block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" 
                                                d="M 6 3 L 6 4 L 6 28 L 6 29 L 7 29 L 16.375 29 L 16.03125 30.8125 L 15.71875 32.28125 L 17.1875 31.96875 L 20.6875 31.28125 L 21 31.21875 
                                                L 21.21875 31 L 31.09375 21.09375 C 32.247303 19.940197 32.247303 18.059803 31.09375 16.90625 C 30.516973 16.329473 29.765165 16.03125 29 
                                                16.03125 C 28.234835 16.03125 27.483027 16.329473 26.90625 16.90625 L 26 17.8125 L 26 10 L 26 9.59375 L 25.71875 9.28125 L 19.71875 3.28125 
                                                L 19.40625 3 L 19 3 L 7 3 L 6 3 z M 8 5 L 18 5 L 18 10 L 18 11 L 19 11 L 24 11 L 24 19.8125 L 17 26.78125 L 16.78125 27 L 8 27 L 8 5 z M 20 
                                                6.4375 L 22.5625 9 L 20 9 L 20 6.4375 z M 29 17.96875 C 29.234835 17.96875 29.464277 18.089277 29.6875 18.3125 C 30.133947 18.758947 30.133947 
                                                19.241053 29.6875 19.6875 L 20 29.375 L 18.28125 29.71875 L 18.625 28 L 28.25 18.34375 L 28.3125 18.3125 C 28.535723 18.089277 28.765165 17.96875 29 17.96875 z" 
                                                overflow="visible" font-family="Bitstream Vera Sans"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="col-md-6 col-lg-2 p-0">
                                        <button v-on:click="showModal('delete-book-modal')">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="action-icons">
                                                <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" 
                                                d="M 6.4960938 1 C 5.6752813 1 5 1.6752812 5 2.4960938 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 10.5 14 C 11.322531 14 12 13.322531 
                                                12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.4960938 C 10 1.6752812 9.3247187 1 8.5039062 1 L 6.4960938 1 z M 6.4960938 2 L 8.5039062 2 C 8.7850939 2 9 2.2149062 9 
                                                2.4960938 L 9 3 L 6 3 L 6 2.4960938 C 6 2.2149062 6.2149062 2 6.4960938 2 z M 4 4 L 5 4 L 6 4 L 9 4 L 10 4 L 11 4 L 11 12.5 C 11 12.781469 10.781469 13 10.5 13 
                                                L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 4 z M 5 5 L 5 12 L 6 12 L 6 5 L 5 5 z M 7 5 L 7 12 L 8 12 L 8 5 L 7 5 z M 9 5 L 9 12 L 10 12 L 10 5 L 9 5 z" 
                                                font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
                                            </svg>                                    
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        </tr>

                    </tbody>
                </table>

            </div>
    
        </b-container> <!--container-->
                       
    </div> <!--main-content-->

    
    <!--modal add books-->
    <b-modal id="add-books-modal" title="Add Books" centered>
        <form>
            <b-row class="row pb-2">
                <b-col cols="3">
                    <label for="book-name" class="col-form-label">Name:</label>
                </b-col>
                <b-col cols="9">
                    <input type="text" id="book-name" class="form-control shadow-none" v-model="book.name">
                </b-col>
            </b-row>

            <b-row class="pb-2">
                <b-col cols="3">
                    <label for="book-author" class="col-form-label">Author:</label>
                </b-col>
                <b-col cols="9">
                    <input type="text" id="book-author" class="form-control shadow-none" v-model="book.author">
                </b-col>
            </b-row>

            <b-row class="pb-2">
                <b-col cols="3">
                    <label for="book-copies" class="col-form-label">Copies:</label>
                </b-col>
                <b-col cols="9">
                    <input type="text" id="book-copies" class="form-control shadow-none" v-model="book.copies">
                </b-col>
            </b-row>

            <b-row class="pb-2">
                <b-col cols="3">
                    <label for="book-category" class="col-form-label">Category:</label>
                </b-col>
                <b-col cols="9">
                    <select class="form-control shadow-none" id="book-category" v-model="book.category_id">
                        <option v-bind:value="category.id" v-for="category in categories" :key="category.id">{{category.category}}</option>
                    </select>
                </b-col>
            </b-row>
        </form>

        
        <!-- modal footer -->
        <template #modal-footer>
            <button type="button" class="btn btn-success btn-sm m-0" v-on:click="addBook()">Add Book</button>
        </template>

    </b-modal>

    <!-- modal edit books -->
    <b-modal id="edit-books-modal" title="Edit Books" centered>
        <form>
            <b-row class="row pb-2">
                <b-col cols="3">
                    <label for="book-name" class="col-form-label">Name:</label>
                </b-col>
                <b-col cols="9">
                    <input type="text" id="book-name" class="form-control shadow-none" v-model="book.name">
                </b-col>
            </b-row>

            <b-row class="pb-2">
                <b-col cols="3">
                    <label for="book-author" class="col-form-label">Author:</label>
                </b-col>
                <b-col cols="9">
                    <input type="text" id="book-author" class="form-control shadow-none" v-model="book.author">
                </b-col>
            </b-row>

            <b-row class="pb-2">
                <b-col cols="3">
                    <label for="book-copies" class="col-form-label">Copies:</label>
                </b-col>
                <b-col cols="9">
                    <input type="text" id="book-copies" class="form-control shadow-none" v-model="book.copies">
                </b-col>
            </b-row>

            <b-row class="pb-2">
                <b-col cols="3">
                    <label for="book-category" class="col-form-label">Category:</label>
                </b-col>
                <b-col cols="9">
                    <select class="form-control shadow-none" id="book-category" v-model="book.category_id">
                       <option v-bind:value="category.id" v-for="category in categories" :key="category.id">{{category.category}}</option>
                    </select>
                </b-col>
            </b-row>
        </form>

        
        <!-- modal footer -->
        <template #modal-footer>
            <button type="button" class="btn btn-danger btn-sm" v-on:click="close()">Cancel</button>
            <button type="button" class="btn btn-success btn-sm m-0" v-on:click="updateBook()" >Update</button>
        </template>

    </b-modal>

    <!-- modal delete book -->
    <b-modal id="delete-book-modal" title="Confirmation" centered>

        <p class="m-0">Do you want to delete this book?</p>

        <template #modal-footer>
            <button type="button" class="btn btn-danger btn-sm" @click="$bvModal.hide('delete-book-modal')">Cancel</button>
            <button type="button" class="btn btn-success btn-sm" v-on:click="confirmDelete()">Yes</button>
        </template>

    </b-modal>
</div>
</template>

<script>

export default {
    data(){
        return{
            book:{
                id:0,
                name:"",
                author:"",
                category_id:0,
                copies: 0
            }

        }
    },
    methods: {
        show_add_book_modal(){
            this.book.name = "";
            this.book.author = "";
            this.book.copies = "";
            this.book.category_id = 0;
            this.$bvModal.show("add-books-modal");
        },        
        show_edit_book_modal(book){
            this.book.id = book.id;
            this.$bvModal.show('edit-books-modal');
            this.book.name = book.name;
            this.book.author = book.author;
            this.book.category_id = book.category_id;
            this.book.copies = book.copies;
        },
        addBook(){
            if (this.book.name == "" || this.book.author == "" || this.book.category_id == "" || this.book.copies == ""){
                return this.$toast.error("Please fill in all fields!");
            }
            if(isNaN(this.book.copies)){
                    return this.$toast.error("Please input a number!");
            }
            else{
                this.$store.dispatch('addBook', this.book);
                this.$bvModal.hide("add-books-modal");
                this.$toast.success("Book has been added!");
            }
        },
        updateBook(){
            if (this.book.name == "" || this.book.author == "" || this.book.category_id == "" || this.book.copies == ""){
                return this.$toast.error("Please fill in all fields!");
            }
            if(isNaN(this.book.copies)){
                    return this.$toast.error("Please input a number!");
            }
            else{
                this.$store.dispatch('updateBook', this.book);
                this.$bvModal.hide("edit-books-modal");
                this.$toast.success("Book has been updated!");
            }
        },
        findCategoryName(categoryID){
            var categoryName = this.categories.find((category) => category.id === categoryID).category;
            return categoryName;
        }
    },
    mounted(){
        this.$store.dispatch('getBooks');
        this.$store.dispatch('getCategories');
    },
    computed:{
        books(){
            return this.$store.state.books;
        },
        categories(){
            return this.$store.state.categories;
        },
    }
}
</script>

<style scoped>

</style>