<template>
    <div class="wrapper">

        <!-- <navbar></navbar>
        <sideNav></sideNav> -->

        <div class="main-content p-5">

            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-6 charts">
                        <canvas id="borrow-returnBooks"></canvas> 
                    </div>
                    <div class="col-6 charts">
                        <canvas id="popularBooks"></canvas> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

// import navbar from '../navigation/TheNavbar';
// import sideNav from '../navigation/TheSideNav';

//vue chartjs
import Chart from 'chart.js';

export default {
    components:{
        // navbar,
        // sideNav
    },
    mounted(){
        document.title = 'Bookshelf';
        var chart = document.getElementById('borrow-returnBooks').getContext('2d');

        Chart.defaults.global.defaultFontSize = 15;
        Chart.defaults.global.defaultFontStyle = 'bold'

        new Chart(chart, {
            type:'bar',
            data:{
                labels:['January', 'February', 'March'],
                datasets:[
                    {
                        label:'Borrowed Books',
                        data:[27, 92, 65],
                        backgroundColor:'rgba(244,130,130)'
                        }, 
                    {
                        label:'Returned Books',
                        data:[53, 55, 34],
                        backgroundColor: 'rgba(137,144,235)'
                    },
                    
                ],
                
            },
            options:{
                title:{
                    display:true,
                    text: 'Popular Books',
                    fontSize:25,
                    fontColor: '#000'
                },
            }
        });

        var chart2 = document.getElementById('popularBooks').getContext('2d');

        new Chart(chart2, {
            type:'pie',
            data:{
                labels:['Fiction', 'Sci-Fi', 'History', 'Math'],
                datasets:[
                    {
                        label:'Borrowed Books',
                        data:[45, 45, 45, 45],
                        backgroundColor:
                        [
                            'rgba(203,23,22)',
                            'rgba(91,180,238)',
                            'rgba(91, 184, 93)',
                            'rgba(255, 159, 64)'
                        ]
                    }
                ],
                
            },
            options:{
                title:{
                    display:true,
                    text: 'Popular Books',
                    fontSize:25,
                    fontColor: '#000'
                },
                legend:{
                    
                    position:'bottom'
                }
            }
            
        });
    }
}
</script>