<template>
    <div class="wrapper">

        <div class="main-content p-5">
            <div class="container-fluid">
                <div class="mt-2">
                    <form class="form-inline justify-content-between py-1">
                        <button type="button" v-on:click="show_add_patron_modal()" data-target="#add-patron-modal"><i class="fas fa-plus-circle"></i> Add Patron</button>
                        <input type="text" placeholder="Search">
                    </form>
                </div>
                
                <div class="card table-responsive my-1">
                    <h3 class="my-3 mx-2">Manage Patrons</h3>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Date Registered</th>
                            <th scope="col" class="center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="patron in patrons" :key="patron.id">
                            <td class="align-middle">{{patron.first_name}} {{patron.last_name}}</td>
                            <td class="align-middle">{{patron.email }}</td>
                            <td class="align-middle">{{ patron.created_at | moment}}</td>
                            <td class="align-middle center">

                                <button v-on:click="show_update_patron_modal(patron)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="action-icons">
                                        <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;
                                        block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" 
                                        d="M 6 3 L 6 4 L 6 28 L 6 29 L 7 29 L 16.375 29 L 16.03125 30.8125 L 15.71875 32.28125 L 17.1875 31.96875 L 20.6875 31.28125 L 21 31.21875 
                                        L 21.21875 31 L 31.09375 21.09375 C 32.247303 19.940197 32.247303 18.059803 31.09375 16.90625 C 30.516973 16.329473 29.765165 16.03125 29 
                                        16.03125 C 28.234835 16.03125 27.483027 16.329473 26.90625 16.90625 L 26 17.8125 L 26 10 L 26 9.59375 L 25.71875 9.28125 L 19.71875 3.28125 
                                        L 19.40625 3 L 19 3 L 7 3 L 6 3 z M 8 5 L 18 5 L 18 10 L 18 11 L 19 11 L 24 11 L 24 19.8125 L 17 26.78125 L 16.78125 27 L 8 27 L 8 5 z M 20 
                                        6.4375 L 22.5625 9 L 20 9 L 20 6.4375 z M 29 17.96875 C 29.234835 17.96875 29.464277 18.089277 29.6875 18.3125 C 30.133947 18.758947 30.133947 
                                        19.241053 29.6875 19.6875 L 20 29.375 L 18.28125 29.71875 L 18.625 28 L 28.25 18.34375 L 28.3125 18.3125 C 28.535723 18.089277 28.765165 17.96875 29 17.96875 z" 
                                        overflow="visible" font-family="Bitstream Vera Sans"/>
                                    </svg>
                                </button>

                                <button v-on:click="show_delete_patron(patron)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="action-icons">
                                        <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" 
                                        d="M 6.4960938 1 C 5.6752813 1 5 1.6752812 5 2.4960938 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 10.5 14 C 11.322531 14 12 13.322531 
                                        12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.4960938 C 10 1.6752812 9.3247187 1 8.5039062 1 L 6.4960938 1 z M 6.4960938 2 L 8.5039062 2 C 8.7850939 2 9 2.2149062 9 
                                        2.4960938 L 9 3 L 6 3 L 6 2.4960938 C 6 2.2149062 6.2149062 2 6.4960938 2 z M 4 4 L 5 4 L 6 4 L 9 4 L 10 4 L 11 4 L 11 12.5 C 11 12.781469 10.781469 13 10.5 13 
                                        L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 4 z M 5 5 L 5 12 L 6 12 L 6 5 L 5 5 z M 7 5 L 7 12 L 8 12 L 8 5 L 7 5 z M 9 5 L 9 12 L 10 12 L 10 5 L 9 5 z" 
                                        font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
                                    </svg>                                    
                                </button>

                            </td>
                          </tr>

                        </tbody> <!--table body-->

                    </table> <!--table-->

                </div> <!--table container (bootstrap card)-->

            </div> <!--container-->
                       
        </div> <!--main-content-->

        <!--modal add patron-->
        <b-modal id="add-patron-modal" title="Add Patron" centered>
            <form>
                <b-row class="row pb-2">
                    <b-col cols="3">
                        <label for="patron-fName" class="col-form-label">First Name:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-fName" class="form-control shadow-none" v-model="patron.first_name">
                    </b-col>
                </b-row>

                <b-row class="pb-2">
                    <b-col cols="3">
                        <label for="patron-mName" class="col-form-label">Middle Name:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-mName" class="form-control shadow-none" v-model="patron.middle_name">
                    </b-col>
                </b-row>

                <b-row class="pb-2">
                    <b-col cols="3">
                        <label for="patron-lName" class="col-form-label">Last Name:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-lName" class="form-control shadow-none" v-model="patron.last_name">
                    </b-col>
                </b-row>

                <b-row class="pb-2">
                    <b-col cols="3">
                        <label for="patron-email" class="col-form-label">Email Address:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-email" class="form-control shadow-none" v-model="patron.email">
                    </b-col>
                </b-row>

            </form>
            
            <!-- modal footer -->
            <template #modal-footer>
                <button type="button" class="btn btn-success btn-sm m-0" v-on:click="addPatron()">Add Patron</button>
            </template>

        </b-modal>


        <!--modal edit patron-->
        <b-modal id="edit-patron-modal" title="Edit Patron" centered>
            <form>
                <b-row class="row pb-2">
                    <b-col cols="3">
                        <label for="patron-fName" class="col-form-label">First Name:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-fName" class="form-control shadow-none" v-model="patron.first_name">
                    </b-col>
                </b-row>

                <b-row class="pb-2">
                    <b-col cols="3">
                        <label for="patron-mName" class="col-form-label">Middle Name:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-mName" class="form-control shadow-none" v-model="patron.middle_name">
                    </b-col>
                </b-row>

                <b-row class="pb-2">
                    <b-col cols="3">
                        <label for="patron-lName" class="col-form-label">Last Name:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-lName" class="form-control shadow-none" v-model="patron.last_name">
                    </b-col>
                </b-row>

                <b-row class="pb-2">
                    <b-col cols="3">
                        <label for="patron-email" class="col-form-label">Email Address:</label>
                    </b-col>
                    <b-col cols="9">
                        <input type="text" id="patron-email" class="form-control shadow-none" v-model="patron.email">
                    </b-col>
                </b-row>

            </form>
            
            <!-- modal footer -->
            <template #modal-footer>
                <button type="button" class="btn btn-danger btn-sm" @click="$bvModal.hide('edit-patron-modal')">Cancel</button>
                <button type="button" class="btn btn-success btn-sm m-0" v-on:click="updatePatron()">Update Patron</button>
            </template>

        </b-modal>

        <!-- modal delete patron -->
        <b-modal id="delete-patron-modal" title="Confirmation" centered>

            <p class="m-0">Do you want to delete this patron?</p>

            <template #modal-footer>
                <button type="button" class="btn btn-danger btn-sm" @click="$bvModal.hide('delete-patron-modal')">Cancel</button>
                <button type="button" class="btn btn-success btn-sm" v-on:click="deletePatron()">Yes</button>
            </template>

        </b-modal>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    data(){
        return{
            patron:{
                id: 0,
                last_name:"",
                first_name:"",
                middle_name:"",
                email:""
            }
        }
    },
    methods: {
        show_add_patron_modal(){
            this.patron.last_name = "";
            this.patron.middle_name = "";
            this.patron.first_name = "";
            this.patron.email = "";

            this.$bvModal.show("add-patron-modal");
        },
        show_update_patron_modal(patron){
            this.$bvModal.show("edit-patron-modal");
            this.patron.id = patron.id,
            this.patron.last_name = patron.last_name;
            this.patron.first_name = patron.first_name;
            this.patron.middle_name = patron.middle_name;
            this.patron.email = patron.email;
        },
        show_delete_patron(patron){
            this.$bvModal.show("delete-patron-modal");
            this.patron.id = patron.id;
        },
        addPatron(){
            if(this.patron.first_name == "" || this.patron.middle_name == "" || this.patron.last_name == "" || this.patron.email == ""){
                return this.$toast.warning("Please fill in all fields!");
            }
            if(this.patron.email.includes("@") === false){
                return this.$toast.warning("Please use a valid email!");
            }
            else {
                this.$store.dispatch('addPatron', this.patron);

                this.$bvModal.hide('add-patron-modal');
                this.$toast.success("Patron added!");
            }
            
        },
        updatePatron(){
            if(this.patron.first_name == "" || this.patron.middle_name == "" || this.patron.last_name == "" || this.patron.email == ""){
                return this.$toast.warning("Please fill in all fields!");
            }
            if(this.patron.email.includes("@") === false){
                return this.$toast.warning("Please use a valid email!");
            }
            else {
                this.$store.dispatch('updatePatron', this.patron);

                this.$bvModal.hide('edit-patron-modal');
                this.$toast.success("Patron updated!");
            }
        },
        deletePatron(){
            this.$store.dispatch('deletePatron', this.patron);
            this.$bvModal.hide('delete-patron-modal');
            this.$toast.success("Patron deleted!");
        },
        confirmDelete(){
        }

    },
    mounted(){
            this.$store.dispatch('getPatrons');
    },
    computed:{
        patrons(){
            return this.$store.state.patrons;
        },
    },
    filters: {
        moment: function (date) {
            return moment(date).format('MMMM Do YYYY, h:mm:ss a');
        }
    }
}
</script>