<template>
    <div class="wrapper">

        <div class="main-content p-5">

          <div class="container-fluid mt-5">
             
              <!-- do something -->

          </div>
            
        </div>
    </div>
</template>

<script>


export default {
    components:{

    }
}
</script>